{% extends "base.html" %} {% load i18n %}

{% load static %}

{% block js_imports %}
  <script src="{% static 'chatbot/js/welcome.js' %}"></script>
{% endblock %}

{% block content %}
<div class='jumbotron text-center'>
  <h1>Informed Consent Form</h1>
</div>

</div>
<div class="container">
    <div class="row">
        <div class="offset-3 col-6">
                <p>Project Title: Interacting with an investment assistant: online study.
                <br>Project ID No: UCLIC/1617/017/Staff Costanza/Nowacka/Yang</p>
                <p>This study has been approved by the UCL Interaction Centre (UCLIC) Research Department’s Ethics Committee.</p>

                <strong>Contact Details of Investigators.</strong>
                <div class="row">
                  <div class="col-6">
                    <P>Principal investigator:
                    <br>Dr. Enrico Costanza
                    <br>UCL Gower Street
                    <br>London WC1E 6BT
                    <br>United Kingdom
                    <br>+44 (0)20 7679 718
                    <br>email: e.costanza@ucl.ac.uk</P>
                  </div>
                  <div class="col-6">
                    <p>Co-investigator:
                    <br>Nicole Soh 
                    <br>UCL Gower Street
                    <br>London WC1E 6BT
                    <br>United Kingdom
                    <br>+44 (0)7577 154 858
                    <br>email: ucjunss@ucl.ac.uk</p>
                  </div>
                </div>

                <strong>Name and contact details of the UCL Data Protection Officer:</strong>
                <p>Alexandra Potts, data-protection@ucl.ac.uk</p>

                <strong>Investigator’s Statement.</strong>
                <p>I, Nicole Soh, confirm that I have carefully explained the purpose of the study to the participant and outlined any reasonably foreseeable risks or benefits (where applicable).</p>

                <strong>Participant’s Statement.</strong>
                <p>If you have any questions arising from the Information Sheet or explanation already given to you, please ask the researcher before you decide whether to join in. </p>
                <p>I, the participant, confirm I understand that by agreeing to the items below I am consenting to participating in this study. I understand that it will be assumed that not checking the box mean that I DO NOT consent to that part of the study. I understand that by not giving consent for any one element I may be deemed ineligible for the study.  </p>
                <ol>
                    <li>I confirm that I have read and understood the Information Sheet for the above study.  I have had an opportunity to consider the information and what will be expected of me.  I have also had the opportunity to ask questions which have been answered to my satisfaction and would like to take part in the survey study.</li>
                    <li>I consent to participate in the study. I understand that my personal information, in the form of this consent form, will be used for the purposes explained to me.  I understand that according to data protection legislation, ‘public task’ will be the lawful basis for processing.</li>
                    <li>I understand that all personal information will remain confidential and that all efforts will be made to ensure I cannot be identified.</li>
                    <li>I understand that my data gathered in this study will be stored anonymously and securely.  It will not be possible to identify me in any publications.</li>
                    <li>I understand that my information may be subject to review by responsible individuals from the University for monitoring and audit purposes.</li>
                    <li>I understand the potential risks of participating and the support that will be available to me should I become distressed during the course of the research.</li>
                    <li>I understand the direct/indirect benefits of participating. </li>
                    <li>I agree that my anonymized research data may be used by others for future research. (No one will be able to identify you when this data is shared).</li>
                    <li>I am aware of who I should contact if I wish to lodge a complaint</li>
                    <li>I agree for the data specified in the information sheet to be collected and stored on a secure server, and for an aggregate or anonymous version of this data to be made publicly available.</li>
                </ol>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="consentCheck">
                        <label class="form-check-label" for="consentCheck">I consent and agree to the terms (items 1 - 10) above.</label>
                    </div>
                <button class="btn btn-dark" id="continueButton" disabled>Continue</button>
                <br>
                <br>

        </div>
    </div>
</div>

{% endblock %}
